body{
	background-color: #EFF0F7;
	text-align: center;
	min-width: 900px;
}

header,nav,footer{
	background-color: #45496a;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}

header a,nav a{
	font-family: 'Potta One', cursive;
	color: #ffffff;
}

hr{
	border-top: 2px dashed #7d8bae;
}

main{
	font-family: 'Potta One', cursive;
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}

table{
	margin: 3px auto;
	min-width: 800px;
	border-collapse: collapse;
	padding: 10px;
}

table th{
	background: #7d8bae;
	color: #ffffff;
	border:  1px solid #7d8bae;
}

table td{
	background: white;
	border:  1px solid #7d8bae;
}

button{
	margin: 5px;
	padding: 10px 20px;
	background-color: #e5857b;
	color:#ffffff;
	border:  1px soild #7d8bae;
	width: 150px;
	cursor:pointer;
}

button:hover{
	background-color: #f1b2b2;
}
